asgiref==3.8.1
boolean.py==5.0
Brotli==1.1.0
CacheControl==0.14.3
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cssselect2==0.8.0
cyclonedx-python-lib==9.1.0
defusedxml==0.7.1
Django==5.2.2
django-axes==8.0.0
django-crispy-forms==2.4
django-formtools==2.5.1
django-gunicorn==0.1.1
django-jazzmin==3.0.1
django-otp==1.6.0
django-phonenumber-field==8.1.0
django-two-factor-auth==1.17.0
dotenv==0.9.9
filelock==3.18.0
fonttools==4.58.2
gunicorn==23.0.0
html5lib==1.1
idna==3.10
license-expression==30.4.3
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.1.1
packageurl-python==0.17.1
packaging==25.0
pillow==11.3.0
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.8
psycopg2-binary==2.9.10
py-serializable==2.0.0
pycparser==2.22
pydyf==0.11.0
Pygments==2.19.2
pyparsing==3.2.3
pyphen==0.17.2
pypng==0.20220715.0
python-dotenv==1.1.0
qrcode==7.4.2
requests==2.32.4
rich==14.0.0
six==1.17.0
sortedcontainers==2.4.0
sqlparse==0.5.3
tinycss2==1.4.0
tinyhtml5==2.0.0
toml==0.10.2
typing_extensions==4.14.0
urllib3==2.5.0
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
